* { 
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}
html {
	font-family: 'OpenSans', Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #EEF2FF;
	/*
	background-image: linear-gradient(to bottom, #D1D5EE 0, #EEF2FF 200px)
	*/
}
body {
	position: relative;
}

#thread-container {
	background-color: #EEF2FF;
	background-image: linear-gradient(to bottom, #D1D5EE 0, #EEF2FF 200px);
}
.post {
	background-color: #EED2FF;
	margin: 8px;
	padding: 4px;
	outline-width: 1px;
	outline-style: solid;
	outline-color: black;
	/*
	*/
	max-width: 90%;
}
.post-info {
	/*
	*/
	padding-bottom: 4px;
	vertical-align: top;
}
span.post-info-id {
    background-color: none;
	border-radius: 20px;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
}
.post-content-files {
	padding: 2px;
}
.post-content-file {
	max-width: 128px;
	margin-left: 4px;
	margin-right: 4px;
}
.post-content-message {
	white-space: auto;
}
.greentext {
	color: rgb(78, 99, 22);
}