<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>easychan</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="easychan.css">
</head>
<body>
  <div id="app">
    <div id="thread-container">
      <!---->
      <p v-if="staticPost">Static post</p>
      <div class="post" v-if="staticPost">
        <div class="post-info">
          {{ staticPost.username || "Anonymous" }}
          {{ new Date(staticPost.timestamp).toLocaleTimeString() }}
          ID: <span class="post-info-id">{{ staticPost.uid }}</span>
          No. {{ staticPost.post }}
        </div>
        <div class="post-content">
          <div class="post-content-files">
            <span v-for="file in staticPost.attachments">
              <img :src="file" class="post-content-file">
            </span>
          </div>
          <div class="post-content-message">
            {{ staticPost.message }}
          </div>
        </div>
      </div>
      <!---->
      <!---->
      <p>Static posts</p>
      <div v-for="post in staticPosts" class="post">
        <div class="post-info">
          {{ post.username || "Anonymous" }}
          {{ new Date(post.timestamp).toLocaleTimeString() }}
          ID: <span class="post-info-id">{{ post.uid }}</span>
          No. {{ post.post }}
        </div>
        <div class="post-content">
          <div class="post-content-files">
            <span v-for="file in post.attachments">
              <img :src="file" class="post-content-file">
            </span>
          </div>
          <div class="post-content-message">
            <p>{{ post.message }}</p>
          </div>
        </div>
      </div>
      <!---->

      <p>Backend posts</p>
      <div v-for="post in posts" class="post">
        <div class="post-info">
          {{ post.username || "Anonymous" }}
          {{ new Date(post.timestamp).toLocaleTimeString() }}
          ID: <span class="post-info-id" :style="{ 'background-color': post.uid !== 'Heaven' ? post.uid : 'none', 'color': getContrastYIQ(post.uid) }">{{ post.uid.replace('#','') }}</span>
          No. {{ post.post }}
        </div>
        <div class="post-content">
          <div class="post-content-files">
            <span v-for="file in post.attachments">
              <img :src="file" class="post-content-file">
            </span>
          </div>
          <div class="post-content-message">
            <p>{{ post.message }}</p>
          </div>
        </div>
      </div>
      <div v-if="!posts.length">
        Is this a 404 reference?
      </div>
    </div>
  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data () {
        return {
          message: 'no go',
          posts: [],
          staticPosts: null,
          staticPost: null
        }
      },
      methods: {
        getTestThread() {
          console.log("fetching backend data...");
          fetch("http://localhost:3000/test/thread")
          .then(response => response.json())
          .then(data => (this.posts = data.posts))
          .catch(error => console.log(error));
        },
        makeTestPost() {
          console.log("making test post...");
        },
        fetchThread(path) {
          throw 'notYetImplemented';
          if (path) {
            switch(typeof path) {
              case 'number':
                null;
                break;
              case 'string':
                null;
                break;
            }
          }
        },
        getContrastYIQ(color) {
          if(color === "Heaven") return 'black';
          const stripped = color.replace("#", "");
          const [r, g, b] = [0, 2, 4].map(p => parseInt(stripped.substr(p, 2), 16));
          return (((r * 299) + (g * 587) + (b * 114)) / 1000 >= 128) ? 'black' : 'white';
        },
        loadFile: (path) => {
          return fs.readFile(path, 'utf8', (err, data) => {
            if(err) { throw err; }
            return JSON.parse(data)
          })
        },
      },
      mounted() {
        this.getTestThread();
      }
    })
  </script>
</body>
</html>