<template>
</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import { Post } from "@/components/Post.vue";

export default defineComponent({
  name: "ThreadView",
  components: {
    Post

  },
  setup() {
    return {};
  }
})
</script>