<template>
</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  name: "Post",
  components: {},
  setup() {
    return {};
  }
})
</script>